<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groups</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'belt_app/css/view.css' %}">
</head>
<body>
    <div id="main_container">
        <div id="header">
            <a id = "return" href="/groups">Dashboard</a> 
            <a id="logout" href="/logout">Logout</a>
        </div>
    <h2>{{this_organization.name}}</h2>
    <p>{{this_organization.description}}<p>
    <br>
    <br>
    <h5>Created By: {{this_organization.created_by.first_name}} {{this_organization.created_by.last_name}}</h5><br>
    <h6>Members:</h6>
    {% for member in all_members %}
        <p>{{member.first_name}} {{member.last_name}}</p>
    {% endfor %}    
    <br>
    {% if user in all_members %}
    <button type="button" id ="leave" class="btn btn-dark"><a class="button" href="/leave/{{this_organization.id}}">Leave</a></button>
    {% else %}
    <button type="button" class="btn btn-dark"><a class="button" href="/join/{{this_organization.id}}">Join</a></button>
    {% endif %}
    </div>
</body>
</html>